html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: black;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
}
.visually-hidden { 
  border: 0;
  /* IE6, IE7 */
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap; /* added line */
  position: absolute !important;
}

h1, h2 {
      font-family: 'Nunito', sans-serif;
      font-weight: normal;
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  font-weight: 600;

}
p {
  font-size: 1rem;
  padding: 0;
  margin: 0 0 1rem 0;
}
a {
  color: black;
}
img {
  width: 100%;
  max-width: 100%;
}
.wrapper {
  width: 83%;
  margin: 0 auto;
}
.primary-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: .5rem 1rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: .8rem;
  color: black;
  background: white;
  border: 3px solid black;
  transition: all .2s ease-out;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.primary-btn:focus, .primary-btn:hover {
    background-color: black;
    color: white;
}